PORT=4000
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE_NAME"
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
JWT_SECRET=
CLIENT_URL=http://localhost:5173
NODE_ENV=development

# Redis connection URL
# "redis" is the hostname — it matches the service name in docker-compose.yml
# Inside Docker, services talk to each other using their service name as hostname
# 6379 is Redis's default port
REDIS_URL=xxx
# ── Webhook secret ────────────────────────────────────────────────────────────
# This secret is shared between our server and GitHub.
# GitHub signs every webhook with this secret.
# Our server uses it to verify the webhook is really from GitHub.
# NEVER share this or commit it to GitHub.
GITHUB_WEBHOOK_SECRET=xxx

# Command to run : ngrok config add-authtoken 36CteVG0bhhknjfl17OwXFVNCsF_4gMmXW8PkSucx2d7NG6i4
# Run this in a SEPARATE terminal — keep it running
# ngrok http 4000 -> https://carlos-overwithered-thornily.ngrok-free.dev
NGROK_TOKEN=xxx

# Your ngrok URL — update this every time you restart ngrok
# ngrok generates a new URL each time on the free plan
WEBHOOK_URL=https://carlos-overwithered-thornily.ngrok-free.dev